body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

button,
.button {
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  border: 0;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-family: "montserrat", sans-serif;
  width: fit-content;
  height: 2rem;
}
.button {
  width: 11rem;
  line-height: 2rem;
}

button:hover,
.button:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* -------NAVBARS------- */

.logobar {
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.5rem;
}

.navbar {
  width: 100%;
  height: 3rem;
  background-color: black;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}

.navlink {
  width: fit-content;
  height: 3rem;
  background-color: white;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 1em 0 1em 2rem;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.offMen {
  width: 15vw;
  height: 3rem;
  background-color: black;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 1em 0 1em 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.onMen {
  width: 15vw;
  height: 3rem;
  background-color: white;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 1em 0 1em 0;
  box-sizing: border-box;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

.navlink:hover {
  font-style: italic;
  color: black;
}

.showNav {
  width: 100%;
  align-items: center;
  display: flex;
  background: white;
  width: 100%;
  height: 3rem;
  border-bottom: 0.1em solid black;
}

.noNav {
  display: none;
}

/* -------MEN WOMEN PAGE------- */

.catlinkscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
.catlinks {
  border: 0.2em solid black;
  text-decoration: none;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0 1rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.catlinks:hover {
  font-style: italic;
  background-color: white;
  color: black;
  border: 0.1em solid black;
}

/* -------AUTHENTICATION------- */

.form_container {
  width: 50%;
  margin: 10vh 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 2%;
  border-radius: 5px;
}

.loginbtn {
  margin-right: 0.5rem;
  padding: 0 0.8rem;
}

label {
  margin-top: 1%;
  font-size: 1rem;
}
input {
  margin: 1% 0;
  font-size: 1rem;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------RENDER PRODUCTS------- */

.productsgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3vw;
  width: 100%;
  margin-top: 2vh;
}

.productimg {
  width: 90%;
  height: 20vw;
  object-fit: cover;
}

.productlink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.productlink p {
  margin: 0;
  font-size: 0.9rem;
}

.productlink:hover {
  font-style: italic;
}

.main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.dropbtn {
  margin-top: 1rem;
  height: 2rem;
  padding: 0 1rem;
}

.dropbtn:hover {
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.dropdown-content div {
  color: black;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color: black;
}

.special {
  background-color: #ddd;
}

/* -------SINGLE PRODUCT PAGE------- */

.productcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.singleproductimg {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.productdetails {
  padding-left: 10%;
}

.addtobagbuttons {
  display: flex;
  align-items: center;
}
.productbtn {
  margin-right: 0.5rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding: 0;
}

.addtobagbtn {
  margin-right: 0.5rem;
  padding: 0 0.8rem;
}
.quantitylabel {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

.quantity {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}

.back {
  padding: 0 0.8rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.backprod {
  padding: 0 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.8rem;
}

/* -------HOMEPAGE------- */

.carousel {
  width: 100%;
  height: 60vh;
  position: relative;
}

.carouselimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lbutton {
  position: absolute;
  left: 0;
}

#rbutton {
  position: absolute;
  right: 0;
}

.carouselbuttons {
  top: 50%;
  background-color: black;
  color: white;
  font-size: 2rem;
  height: 3rem;
  border: none;
  opacity: 70%;
  padding: 0.2rem 0.5rem;
}

.carouselbuttons:hover {
  cursor: pointer;
  opacity: 100%;
}

.carouselname {
  position: absolute;
  bottom: 5%;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  width: fit-content;
  padding: 0 1rem;
  height: auto;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.homelinkscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  align-items: center;
  padding-bottom: 5vh;
}

/* -------ADMINPAGE------- */
.adminbuttoncontainer {
  display: flex;
  justify-content: space-evenly;
}

.adminbutton {
  background-color: black;
  color: white;
  height: 20vh;
  width: 15vw;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  align-items: center;
}

.adminlabel {
  height: fit-content;
  margin: 0;
  font-size: 1rem;
}

.adminbutton:hover {
  background-color: white;
  border: 0.1rem solid black;
  color: black;
  cursor: pointer;
  font-style: italic;
}

/* -------EDITUSERPAGE------- */

.user {
  display: flex;
  flex-direction: column;
}

.userinput {
  margin: 0;
  width: fit-content;
  height: auto;
  font-size: 0.8rem;
  font-style: normal;
}

#admin {
  margin: 0;
}

.usercontainer {
  border-bottom: 0.1rem solid black;
  width: 20vw;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

#userform {
  border-bottom: 0;
  width: 100%;
}

.allusercontainer {
  border: 0.05rem solid lightgrey;
  width: 90%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.smallbtn {
  font-size: 0.8rem;
  margin-right: 0.2rem;
  height: 1.4rem;
  padding: 0 0.5rem;
}

/* -------EDITPRODUCTPAGE------- */
.categorynames {
  margin: 0;
  width: fit-content;
  height: auto;
  font-size: 1rem;
  font-style: normal;
}

.description {
  margin: 0;
  width: 90%;
  height: auto;
  font-size: 0.7rem;
  font-style: normal;
  padding-top: 0.5em;
}

.adminimg {
  width: 60%;
  padding: 5% 0;
  height: 15vw;
  object-fit: cover;
}

.productname {
  margin: 0;
  width: fit-content;
  height: auto;
  font-size: 0.9rem;
  font-style: normal;
}

.productmessage {
  font-size: 0.8rem;
}

/* -------CART------- */
.cartitem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.cartbtns {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  align-items: center;
}
.cartbtns p {
  margin-right: 0.5rem;
}
.cartimg {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 0;
  height: 15vw;
  object-fit: cover;
}

.cartbtn {
  height: 2rem;
  min-width: 2rem;
  width: fit-content;
  margin: 0 0.5rem 0 0;
  padding: 0 0.8rem;
}

.total {
  border-top: 0.1rem solid grey;
  border-bottom: 0.1rem solid grey;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.totalhidden {
  display: none;
}

.checkoutbtn {
  font-size: 1.2rem;
  padding: 0 0.8rem;
}

/* -------ORDERS------- */

.order {
  border-bottom: 1px solid black;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}

.orderprodwrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.orderprod {
  border-top: 1px solid lightgrey;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
}

.ordertotal {
  width: fit-content;
  padding-top: 0.3rem;
  font-weight: bold;
}

/* -------PROFILE------- */

.profile p {
  margin: 0.5em 0;
}

.address p {
  margin: 0;
}

.profileform {
  width: 40%;
}

.profileinput {
  width: 60%;
  margin: 0;
  height: 1em;
  font-size: 1em;
}
.profilebtns {
  display: flex;
}

.profilebtns button {
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

/* -------------------------MEDIUM SIZE SCREEN-------------------- */

@media screen and (max-width: 900px) {
  html {
    font-size: 13px;
  }
  .productsgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .orderprodwrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .homelinkscontainer {
    grid-template-columns: 1fr 1fr;
  }
  .catlinkscontainer {
    grid-template-columns: 1fr 1fr;
  }
  .productimg {
    height: 25vw;
  }
}

/* -------------------------SMALL SIZE SCREEN-------------------- */

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .productsgrid {
    grid-template-columns: 1fr 1fr;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .orderprodwrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .homelinkscontainer {
    grid-template-columns: 1fr;
  }

  .productcontainer {
    display: block;
  }
  .singleproductimg {
    width: 70%;
    height: 60vh;
  }
  .productdetails {
    padding: 0;
  }
  .cartitem {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .totalhidden {
    display: block !important;
  }
  .cartimg {
    margin: 1rem 0 0 0;
  }
  .smallnone {
    display: none;
  }
  .productname {
    font-weight: bold;
  }
  .logobar {
    font-size: 0.8rem;
  }

  .small {
    display: block !important;
    z-index: 1;
  }

  .big {
    display: none;
  }
  .navlink {
    padding: 1rem 0 1rem 0.2rem;
    width: 20vw;
    min-width: fit-content;
    background-color: #f1f1f1;
  }

  .navlink:hover {
    background-color: #ddd;
  }

  .onMen {
    background-color: #f1f1f1;
  }
  .productimg {
    height: 35vw;
  }
  .cartimg {
    height: 20vw;
  }
  .adminimg {
    width: 40vw;
    height: 40vw;
  }
  .main {
    position: relative;
    top: 4rem;
  }
}

/* -------------------------SMALL NAVBAR-------------------- */

.small {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.smallnavbar {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: absolute;
}

.smallShowNav {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: absolute;
  left: 15vw;
  background-color: #f1f1f1;
}

.smallNoNav {
  display: none;
}

.flexnav {
  display: flex;
}
.burger {
  color: white;
  text-transform: rotate(90);
  height: 4rem;
  width: 4rem;
  transform: rotate(90deg);
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
}

.burger:hover {
  cursor: pointer;
}
